# ignore unnecessary files
LICENSE
README.md
lazy-lock.json
lazyvim.json
logfile.log
pack/
stylua.toml

# ignore Jukit info files
lua/.jukit/.jukit_info.json
lua/config/.jukit/.jukit_info.json
lua/plugins/.jukit/.jukit_info.json

